<div class="main">
<aside class="side-bar">
{{search-box on-change="updateTerm" items=items}}
</aside>
<article>
<header><img src="images/emberjs.svg" alt=""> Quick Reference</header>
{{outlet}}
</article>
</div>
