@import "normalize";
//clear fix
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

h1, h2, h3, h4, h5 {
  margin:0;
}

.main {
  @extend .cf;
}

aside, article {
  float: left;
}
article {
  width: calc(100% - 16em);
  box-sizing: border-box;
  padding: 1em;
}
search-box {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 16em;
  // height: 5em;
  padding: 0.5em;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.5);
  .search-box-input {
    line-height: 3em;
    height: 3em;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0.5em;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
  }
  .search-box-results {
    margin:0;
    list-style-type: none;
    padding: 0;
  }
  .search-box-results-item {
    padding: 0.3em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .results-item-link {
    text-decoration: none;
  }
  .results-item-name {
    font-size: 1.2em;
    text-decoration: none;
    text-align: left;
    color: black;
    line-height: 1.5em;
  }
  .results-item-class {
    font-size: 1em;
    text-align: left;
    line-height: 1.2em;
    color: rgb(56, 56, 56);
  }

}
